* {
  padding: 0;
  margin: 0;
} /* 全称セレクタ *: 全てのスタイルを対象にする */
canvas {
  background: white;
  display: block;
  margin: 0 auto;
} /* tag を指定 */
#scores {
  margin: 10px auto 0px;
  width: max-content;
}
